# This file describes the network interfaces available on your system
# and how to activate them. For more information, see interfaces(5).

source /etc/network/interfaces.d/*

# The loopback network interface
auto lo
iface lo inet loopback

# The primary network interface
allow-hotplug eth0
iface eth0 inet dhcp
pre-up sleep 2

auto {{ lxc_network_link }}
iface {{ lxc_network_link}} inet static
  address {{ lxc_server_ip }}
  netmask {{ lxc_netmask }}
  pre-up (ip addr show |grep {{ lxc_network_link }}) || brctl addbr {{ lxc_network_link }}
  post-up ethtool -K {{ lxc_network_link }} tx off

